**/*/node_modules
node_modules/

.idea/

backend/__pycache__/
backend/__pycache__/*
**/__pycache__/
**/__pycache__/*

backend/build
backend/*.egg-info

**/*/.DS_Store
.DS_Store

**/*/secrets/
/secrets/

**/*/schemas/

**/*/TileSet/

**/*/preprocess/output
**/*/preprocess/output/**/*

**/*/preprocess/rawdata/

**/*/output
**/*/output/**/*

**/*/logs
**/*/logs/**/*

.cursor/
.roo/
.roomodes
.taskmasterconfig
.windsurfrules

# Added by Claude Task Master
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
# Task files
tasks.json
tasks/ 