**/*/node_modules
node_modules/

.idea/

backend/__pycache__/
backend/__pycache__/*
**/__pycache__/
**/__pycache__/*

**/*/.DS_Store
.DS_Store

**/*/secrets/
/secrets/

**/*/schemas/

**/*/TileSet/
preprocess/output
preprocess/output/**/*

**/*/output
**/*/output/**/*